<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <body>
    <h1>Bienvenido {{nombre}}</h1>
    <p>Profesión: {{profesion}}</p>
    <p>{{esAbogado profesion}}</p>
 
    <p>Año actual: {{anio}}</p>
 
    <p>Hoy es: {{fecha}}</p>
 
    <p>El nombre tiene {{longitud nombre}} caracteres</p>
 
    <a href="/about">Ir a About</a>
  </body>
</html>